---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

<h2>Conference Reviewers</h2>

<ul>
  <li>IEEE nternational Conference on Intelligent Transportation Systems 2025 (ITSC)</li>
  <li>IEEE Intelligent Vehicles Symposium 2025 (IV)</li>
  <li>IEEE International Conference on Robotics & Automation 2025 (ICRA)</li>
  <li>International Federation of Automatic Control World Congress 2023 (IFAC)</li>
</ul>








{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
