---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---
Conference Reviewers
======
IEEE International Conference on Robotics & Automation 2025 (ICRA)
International Federation of Automatic Control World Congress 2023 (IFAC)







{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
Work experience
======
* Jul. 2023 – Nov. 2023: Research Assistant, [Chair of Information-oriented Control](https://www.ce.cit.tum.de/en/itr/home/)
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
